body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:arial;
}
body a,
html a {
  text-decoration: none;
}
header, footer
{ 
	width:100%;
	background-color:#579c87;
	color:#fcca46;
	display:flex;
	margin:auto;
	padding:15px;
	
}
footer
{
	display:flex;
	justify-content: space-between;
	font-size:30px;
	height:60px;
	position:fixed;
	left:0;
	bottom:0;
}
.mentions, .contacts
{
	margin-left: 3%;
  margin-right: 3%;
}
.header_titre
{
	display:flex;
	flex-direction: row;
	font-size:60px;
	margin:auto;
	font-weight: bold;
}
#menus
{ 
	max-width: 900px;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
}
.menus_cartes
{ 
	max-width: 900px;
	height :900px;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding:15px;
	text-align:center;
}
.menu_note_enchantee, .menu_chic_francais, .menu_delice_des_papilles, .menu_palette_du_gout
{
	box-shadow: 1px 1px 10px #e4e5e4;
	width: 30%;
	height:400px;
	padding:25px;
	margin:10px;
}
.menu_note_enchantee
{
	background:#fcdfdb;
}
.menu_chic_francais
{
	background:#fff5fe;
}
.menu_delice_des_papilles
{
	background:#f9f9f9;
}
.menu_palette_du_gout
{
	background:#fdfffd;
}
.menus_bouton {
    background: #579c87;
    color: #fcca46;
    font-size: 20px;
	margin: 100px auto;
    cursor: pointer;
    padding: 1.05rem 3.40rem;
	border-radius: 1rem;
	transition: all 400ms;
    transform: scale(1);
}
.menus_bouton:hover {
        transform: scale(1.05);
		background-color: pink;
    }