@media screen and (max-width: 768px) 
{
#detail_menus
{ 
	max-width: 100%;
	background-color:red;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
}

.detail_menu_note_enchantee
{ 
	max-width: 80%;
	height:1100px;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fcdfdb;
	margin-bottom:105px;
	font-family:Alex Brush, verdana;
	font-size : 18px;
}

.detail_menu_chic_francais
{ 
	max-width: 80%;
	height:1100px;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fff5fe;
	margin-bottom:105px;
	font-family: Parisienne,verdana;
	font-size:18px;
}
.detail_menu_delice_papilles
{ 
	max-width: 80%;
	height:1100px;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#edefef;
	margin-bottom:105px;
	font-family:Dancing Script, verdana;
	font-size:18px;
}
.detail_menu_palette_gout
{ 
	max-width: 80%;
	height:1100px;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fdfffd;
	margin-bottom:105px;
	font-family: Shadows Into Light, verdana;
	font-size:18px;
}
.detail_menus_footer
{
	display:flex;
	flex-direction:row;
	margin:auto;
	font-size:18px;
	padding-bottom:20px;
	justify-content: center;
	align-items: center;
	width:90%;
	font-family: Shadows Into Light, verdana;
}

.detail_menus_footer p
{
	padding-left:10px;
}
.detail_menus_entree, .detail_menus_plat, .detail_menus_dessert
{
	display:flex;
	flex-direction:column;
	margin:auto;
	padding-bottom:30px;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
}

.intitule
{
	display:flex;
	flex-direction:row;
	margin:auto;
	justify-content: center;
	width:100%;
}
.tarif
{
	display:flex;
	flex-direction:row;
	margin:auto;
	justify-content: center;
	width:100%;
}


.detail_menus_titre
{
	font-size:20px;
	text-align:center;
}

.detail_menus_header_note
{
	font-size:30px;
	text-align:center;
	color:#3c1218;
	font-family:Alex Brush, verdana;
}

.detail_menus_header_chic_francais{
	background-image: linear-gradient(to right, #d8852e, #905bfd);
	color: transparent;
	-webkit-background-clip: text;
	font-family: Parisienne,verdana;
	font-size:30px;
	text-align:center;
}
.detail_menus_header_delice_papilles{
	background-image: linear-gradient(to right, #022ddf, #0889fb);
	color: transparent;
	-webkit-background-clip: text;
	font-family:Dancing Script, verdana;
	font-size:30px;
	text-align:center;
}
.detail_menus_header_palette_gout{
	background-image: linear-gradient(to right, #3d9339, #bfff7e);
	color: transparent;
	-webkit-background-clip: text;
	font-family: Shadows Into Light, verdana;
	font-size:30px;
	text-align:center;
}
.intitule_detail_note
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
}
		img
		{
			width:33%;
			height:8px;
		}
		.titre_intitule_note
		{
			width:40%;
			font-size:20px;
			font-family:Alex Brush, verdana;
			text-align:center;
			
		}

.intitule_detail_chic_francais
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_chic_francais img
		{
			width:33%;
			height:8px;
			
		}
		.titre_intitule_chic_francais
		{
			width:40%;
			font-size:20px;
			font-family: Parisienne,verdana;
			text-align:center;
			
		}
.intitule_detail_delice_papilles
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_delice_papilles img
		{
			width:33%;
			height:8px;
			
		}
		.titre_intitule_delice_papilles
		{
			width:40%;
			font-size:20px;
			font-family:Dancing Script, verdana;
			text-align:center;
			
		}
.intitule_detail_palette_gout
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_palette_gout img
		{
			width:33%;
			height:8px;
			
		}
		.titre_intitule_palette_gout
		{
			width:40%;
			font-size:20px;
			font-family: Shadows Into Light, verdana;
			text-align:center;
			
		}
}