#main
{
	width:100%;
	margin:auto;
	background:white;
}
.detail_menu_note_enchantee
{ 
	max-width: 50%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fcdfdb;
	margin-bottom:105px;
	font-family:Alex Brush, verdana;
	font-size : 18px;
}
@media screen and (max-width: 768px) 
{
	.detail_menu_note_enchantee
	{ 
	max-width: 80%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fcdfdb;
	margin-bottom:5px;
	font-family:Alex Brush, verdana;
	font-size : 13px;
	}	
}
@media screen and (max-width: 320px) 
{
	.detail_menu_note_enchantee
	{ 
	max-width: 98%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:5px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fcdfdb;
	margin-bottom:5px;
	font-family:Alex Brush, verdana;
	font-size : 11px;
	}	
}
.detail_menu_chic_francais
{ 
	max-width: 50%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fff5fe;
	margin-bottom:105px;
	font-family: Parisienne,verdana;
	font-size:18px;
}
.detail_menu_delice_papilles
{ 
	max-width: 50%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#edefef;
	margin-bottom:105px;
	font-family:Dancing Script, verdana;
	font-size:18px;
}
.detail_menu_palette_gout
{ 
	max-width: 50%;
	background-color:white;
	display:flex;
	margin:auto;
	flex-direction:column;
	padding:15px;
	box-shadow: 1px 1px 10px #e4e5e4;
	background:#fdfffd;
	margin-bottom:105px;
	font-family: Shadows Into Light, verdana;
	font-size:18px;
}
.detail_menus_footer
{
	display:flex;
	flex-direction:row;
	margin:auto;
	font-size:18px;
	padding-bottom:20px;
	justify-content: center;
	align-items: center;
	width:90%;
	font-family: Shadows Into Light, verdana;
}
@media screen and (max-width: 768px) 
{
.detail_menus_footer
{
	display:flex;
	flex-direction:row;
	margin:auto;
	font-size:10px;
	padding-bottom:10px;
	justify-content: center;
	align-items: center;
	width:90%;
	font-family: Shadows Into Light, verdana;
}
}

.detail_menus_footer p
{
	padding-left:10px;
}
.detail_menus_entree, .detail_menus_plat, .detail_menus_dessert
{
	display:flex;
	flex-direction:row;
	margin:auto;
	padding-bottom:40px;
	justify-content: space-between;
	width:90%;
}
@media screen and (max-width: 768px) 
{
	.detail_menus_entree, .detail_menus_plat, .detail_menus_dessert
{
	display:flex;
	flex-direction:row;
	margin:auto;
	padding-bottom:20px;
	justify-content: space-between;
	
}
}
.detail_menus_entree_papilles, .detail_menus_plat_papilles, .detail_menus_dessert_papilles
{
	display:flex;
	flex-direction:row;
	margin:auto;
	padding-bottom:40px;
	justify-content: space-between;
	width:75%;
}
.detail_menus_entree_palette_gout, .detail_menus_plat_palette_gout, .detail_menus_dessert_palette_gout
{
	display:flex;
	flex-direction:row;
	margin:auto;
	padding-bottom:40px;
	justify-content: space-between;
	width:75%;
}
.detail_menus_titre
{
	font-size:20px;
	text-align:center;
}
@media screen and (max-width: 768px) 
{
.detail_menus_titre
{
	font-size:10px;
	text-align:center;
}
}
.detail_menus_header_note
{
	font-size:30px;
	text-align:center;
	color:#3c1218;
	font-family:Alex Brush, verdana;
}
@media screen and (max-width: 768px) 
{
.detail_menus_header_note
{
	font-size:15px;
	text-align:center;
	color:#3c1218;
	font-family:Alex Brush, verdana;
}
}
.detail_menus_header_chic_francais{
	background-image: linear-gradient(to right, #d8852e, #905bfd);
	color: transparent;
	-webkit-background-clip: text;
	font-family: Parisienne,verdana;
	font-size:50px;
	text-align:center;
}
.detail_menus_header_delice_papilles{
	background-image: linear-gradient(to right, #022ddf, #0889fb);
	color: transparent;
	-webkit-background-clip: text;
	font-family:Dancing Script, verdana;
	font-size:50px;
	text-align:center;
}
.detail_menus_header_palette_gout{
	background-image: linear-gradient(to right, #3d9339, #bfff7e);
	color: transparent;
	-webkit-background-clip: text;
	font-family: Shadows Into Light, verdana;
	font-size:50px;
	text-align:center;
}
.intitule_detail_note
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
}
		img
		{
			width:33%;
			height:8px;
		}
		.titre_intitule_note
		{
			width:33%;
			font-size:30px;
			font-family:Alex Brush, verdana;
			text-align:center;
			
		}
@media screen and (max-width: 768px) 
{
.intitule_detail_note
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
}
		img
		{
			width:20%;
			height:8px;
		}
		.titre_intitule_note
		{
			width:40%;
			font-size:15px;
			font-family:Alex Brush, verdana;
			text-align:center;
			
		}
}
.intitule_detail_chic_francais
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_chic_francais img
		{
			width:25%;
			height:8px;
			
		}
		.titre_intitule_chic_francais
		{
			width:50%;
			font-size:30px;
			font-family: Parisienne,verdana;
			text-align:center;
			
		}
.intitule_detail_delice_papilles
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_delice_papilles img
		{
			width:25%;
			height:8px;
			
		}
		.titre_intitule_delice_papilles
		{
			width:50%;
			font-size:30px;
			font-family:Dancing Script, verdana;
			text-align:center;
			
		}
.intitule_detail_palette_gout
{
	display:flex;
	flex-direction: row;
	align-items:center;
	margin:auto;
	width:90%;
	justify-content:space-between;
	
}
		.intitule_detail_palette_gout img
		{
			width:25%;
			height:8px;
			
		}
		.titre_intitule_palette_gout
		{
			width:50%;
			font-size:30px;
			font-family: Shadows Into Light, verdana;
			text-align:center;
			
		}